<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit Employee</title>
</head>
<body>
<div th:replace="navbar :: navbar"></div>

<h2>Edit Employee</h2>

<form th:action="@{/employees/{id}(id=${employee.id})}" th:object="${employee}" method="post">

    Name: <input type="text" th:field="*{name}" required><br><br>
    Email: <input type="email" th:field="*{email}" required><br><br>
    Phone: <input type="text" th:field="*{phone}"><br><br>
    Department: <input type="text" th:field="*{department}"><br><br>
    Role: <input type="text" th:field="*{role}"><br><br>
    Status: <input type="text" th:field="*{status}"><br><br>

    <button type="submit">Update</button>

</form>

<br>
<a href="/employees"> Back</a>

</body>
</html>
